{% extends 'base.html.twig' %}

{% block title %} Satistic counter for code redirect {{ code }} {% endblock %}

{% block body %}

     <section>
          <div class="row" style="padding: 1rem 0;">
               <div class="alert alert-success col-6" role="alert">
                    <h4 class="alert-heading">Add new short</h4>
                    <hr>
                    <a href="{{ links.new_url }}">click here</a>
               </div>
          </div>
     </section>
     <section>
          <div class="row" style="padding: 1rem 0;">
               <ul class="list-group col-6">
                    <li class="list-group-item">Url Id: {{ url_info.id }}</li>
                    <li class="list-group-item">short code: {{ url_info.code }}</li>
                    <li class="list-group-item">Url: {{ url_info.url }}</li>
                    <li class="list-group-item">Counter: {{ url_info.counter }}</li>
                    <li class="list-group-item">Time createId: {{ created_at }}</li>
                    <li class="list-group-item">Time update: {{ updated_at }}</li>
     {#               <li>Id: {{ url_info.createdat }}</li>#}
     {#               <li>Id: {{ url_info.updatedat }}</li>#}
               </ul>
          </div>
     </section>
     <div>
          <iframe src="{{ url_info.url }}" frameborder="0"></iframe>
     </div>

{% endblock %}
